/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    background-image: url('./red-grunge-background.jpg');
  }

  .heading{
    width: 100%;
    height: 54px;
    text-align: center;
    font-weight: 100;
    color: #99ff99;
  }
  
  /* Center the calculator on the page */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin: 50px 500px ;
    padding: 20px;
    border-radius: 10px;
    background-image: url('./vivid-blurred-colorful-background.jpg');
  }
  
  /* Style the input field */
  .input {
    margin-left:40px ;
    width: 65%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 9px;
  }
  
  /* Style the calculator buttons */
  .button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  /* Style the "C" button */
  .button:nth-child(4) {
    background-color: #ff9999;
  }
  
  /* Style the "=" button */
  .button:nth-child(20) {
    background-color: #99ff99;
  }
  
  /* Add some hover effects */
  .button:hover {
    background-color: #d0d0d0;
  }
  